<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentsgestion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_student"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBlue">
        <activity android:name=".AddAbsenceActivity"
            android:label="Ajouter Absence"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".StudentActivity"
            android:label="Gestion Abscence"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".AddActivity"
            android:label="Ajouter Students"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Gestion Students">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>